body {
    color: #000;
    font-family: roboto, 'Open Sans Condensed', sans-serif;
    font-weight: 100 !important; }

label {
    font-weight: 300 !important; }

@-webkit-keyframes AnimationName {
    0% {
        background-position: 26% 0%; }
    50% {
        background-position: 75% 100%; }
    100% {
        background-position: 26% 0%; } }

@-moz-keyframes AnimationName {
    0% {
        background-position: 26% 0%; }
    50% {
        background-position: 75% 100%; }
    100% {
        background-position: 26% 0%; } }

@keyframes AnimationName {
    0% {
        background-position: 26% 0%; }
    50% {
        background-position: 75% 100%; }
    100% {
        background-position: 26% 0%; } }

.body-grad {
    display: block;
    z-index: 1;
    opacity: 1 !important;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    margin-right: 0px !important;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    background: linear-gradient(342deg, #00565e, #fffcf6, #001e20, #ffffff);
    background-size: 300% 300%;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99; }
 .limit-width {
    max-width: 75%; }
 .site-logo-container {
    margin-bottom: 40px; }
 .place-content-bottom {
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    width: 100%; }
 .place-content-bottom .menu-container {
    float: none;
    margin: auto; }
 .place-content-bottom .menu-container .menu-item .bt-edit {
    margin-left: 11px; }
 .place-content-bottom .menu-container .menu-item img {
    margin: auto; }
@media screen and (max-height: 515px) {
     .place-content-bottom .menu-container .menu-item img {
        height: 7%; } }
 .place-content-bottom .menu-container .menu-item label {
    font-size: 18pt; }
 .team-quote {
    font-size: 16pt; }
.landing-text {
    font-size: 18pt; }
 .selected-nav-item {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
 .laptop-container {
    /*background: url("") center no-repeat;*/
    background-size: contain;
    height: 0;
    padding-top: 32%; }
 .laptop-container .laptop-placement {
    position: absolute;
    top: 6%;
    left: 28%;
    width: 57.5%; }
 .laptop-container .mobile-placement {
    position: absolute;
    top: 27%;
    left: 10.5%;
    width: 16.6%; }
 .landing-info-container {
    margin-top: 8% !important; }
 .landing-info-container label {
    margin-bottom: 80px; }
 .service-text-container {
    margin-top: 15px; }
 .service-text-container .service-title {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 15px; }
@media screen and (min-width: 992px) and (max-height: 770px) {
     .landing-info-container {
        margin-top: 0% !important; } }
@media screen and (max-width: 1513px) {
     .laptop-container {
        padding-top: 28%; }
     .laptop-container .laptop-placement {
        top: 6.5%;
        left: 31%;
        width: 50%; }
     .laptop-container .mobile-placement {
        top: 27%;
        left: 15.5%;
        width: 14.5%; } }
@media screen and (max-width: 1250px) {
     .limit-width {
        max-width: 100%; }
     .laptop-container {
        padding-top: 36%; }
     .laptop-container .laptop-placement {
        left: 25%;
        width: 65%; }
     .laptop-container .mobile-placement {
        left: 5.5%;
        width: 18.5%; } }
@media screen and (max-width: 1100px) {
     .laptop-container {
        padding-top: 36%; }
     .laptop-container .laptop-placement {
        left: 25%;
        width: 65%; }
     .laptop-container .mobile-placement {
        left: 5.5%;
        width: 18.5%; } }
@media screen and (min-width: 992px) {
     .contact-section .send-button-holder {
        padding-right: 0px !important; }
     .md-lg-margin-top {
        margin-top: 40px; } }
@media screen and (max-width: 991px) {
     .site-logo-container {
        margin-bottom: 0px; }
     .site-logo-container img {
        padding-left: 0px;
        padding-top: 0px;
        max-height: 40px; }
     .service-image-container img {
        max-width: 80%;
        margin: auto; }
     .landing-info-container label {
        margin-bottom: 40px; }
     .landing-info-container {
        margin-top: 0% !important; }
     .laptop-container {
        /*background: url("") center no-repeat;*/
        background-size: contain;
        height: 0;
        padding-top: 53%; }
     .laptop-container .mobile-placement {
        top: 12.3%;
        left: 38.9%;
        width: 22.3%; }
     .map-container {
        margin-top: 20px; } }
@media screen and (max-width: 865px) {
     .small-device-no-padding-left-right {
        padding-left: 0px;
        padding-right: 0px; }
     .small-device-no-padding-left-right .fa-4x {
        font-size: 3em; } }
@media screen and (max-width: 767px) {
    .service-item {
        margin-bottom: 20px; }
    .service-image-container img {
        max-width: 50%; }
    .landing-info-container label {
        margin-bottom: 15px; }
    .landing-text {
        font-size: 15pt; } }
@media screen and (max-width: 601px) and (max-height: 961px) and (min-height: 750px) {
    .laptop-container {
        padding-top: 90%; }
    .laptop-container .laptop-placement {
        top: 27.5%;
        left: 25%;
        width: 65%; }
    .laptop-container .mobile-placement {
        top: 12.4%;
        left: 31.2%;
        width: 38%; } }
@media screen and (max-width: 500px) {
    .place-content-bottom .menu-container {
        width: 93%; }
    .landing-text {
        font-size: 13pt; }
    .laptop-container {
        padding-top: 75%; }
    .laptop-container .laptop-placement, .laptop-container .mobile-placement {
        z-index: -1; }
    .laptop-container .laptop-placement {
        top: 18.5%;
        left: 24.8%;
        width: 66%; }
    .laptop-container .mobile-placement {
        top: 12.1%;
        left: 34.2%;
        width: 31.6%; }
    .team-quote {
        font-size: 14pt; } }
@media screen and (max-width: 415px) and (max-height: 737px) and (min-height: 700px) {
    .landing-text {
        font-size: 16pt; }
    .laptop-container {
        padding-top: 95%; }
    .laptop-container .laptop-placement {
        top: 25.5%;
        left: 24.8%;
        width: 65%; }
    .laptop-container .mobile-placement {
        left: 29.5%;
        width: 40.6%; } }
.big-laptop {
    margin: auto;
    min-height: 80%; }
.laptop-associated-text-container {
    position: absolute;
    top: 24%;
    left: 23%; }
.laptop-associated-text-container .laptop-associated-text {
    font-size: 10pt;
    color: #FFF; }
 .nav-link {
    color: #fff; }
 .nav-link:hover {
    cursor: pointer; }
@media (max-width: 992px) and (min-width: 768px) {
     .service-item {
        min-height: 475px; } }
 .who-we-are-container img {
    margin: auto;
    max-width: 251px;
    box-shadow: 0px 0px 23px #000;
    box-shadow: 0px 0px 23px rgba(255, 255, 255, 0.8); }
 .who-we-are-container label {
    text-align: center; }
 .who-we-are-container .big-label {
    font-size: 22pt; }
 .who-we-are-container .small-label {
    font-size: 12pt;
    padding-bottom: 20px; }
 .who-we-are-intro-text p {
    font-size: 30pt;
    line-height: 60px; }
@media screen and (max-width: 801px) and (max-height: 1281px) and (min-height: 1079px) {
     .laptop-container {
        padding-top: 118%; }
     .laptop-container .mobile-placement {
        left: 24.9%;
        width: 50.3%; } }
@media screen and (max-width: 769px) and (max-height: 1025px) and (min-height: 1023px) {
     .laptop-container {
        padding-top: 94%; }
     .laptop-container .mobile-placement {
        top: 12.3%;
        left: 30%;
        width: 40%; } }
@media screen and (max-width: 1024px) and (max-height: 768px) {
     .who-we-are-container img {
        max-width: 205px; } }
 .font-bold {
    font-weight: bold; }
 .text-center {
    text-align: center; }
 .margin-top-20 {
    margin-top: 20px; }
 .margin-top-40 {
    margin-top: 40px; }
 .margin-top-80 {
    margin-top: 80px; }
 .margin-bottom-20 {
    margin-bottom: 20px; }
 .margin-bottom-40 {
    margin-bottom: 40px; }
 .margin-bottom-80 {
    margin-bottom: 80px; }
 .margin-bottom-100 {
    margin-bottom: 100px; }
 .block {
    display: block; }
 .margin-auto {
    margin: auto; }
 .row-margin-left-and-right-fix {
    margin: auto; }
 .row-margin-top {
    margin-top: 4%; }
 .no-margin-left-right {
    margin-left: 0px;
    margin-right: 0px; }
 .site-logo {
    float: left;
    max-height: 70px;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 15px; }
 .height-full {
    height: 100%; }
 .float-right {
    float: right; }
 #map {
    width: 100%;
    height: 400px;
    background-color: #CCC; }
 .error {
    color: red; }
 .color-black {
    color: #000; }
 .contact-section .address-text {
    font-size: 16pt; }
 .contact-section .form-control {
    padding: 14px 12px;
    height: auto; }
 .font-size-generic {
    font-size: 14pt; }
 .color-hlsa {
    color: #000;
 }
 .thank-you-text {
    font-size: 22pt; }
 .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 25pt; }

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-webkit-keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; } }

@-moz-keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}

.container:last-of-type {
    padding-top: 0px;
}
/*animation element*/

.animation-element {
    position: relative;
    width: 30%;
    margin: 0% 1.33 2.66% 1.33%;
    float: left;
}
/*3 grid layout*/

.animation-element:nth-of-type(3n-2) {
    width: 31.5%;
    margin: 0% 1.375% 2.75% 0%;
    clear: left;
}

.animation-element:nth-of-type(3n-1) {
    width: 31.5%;
    margin: 0% 1.375% 2.75% 1.375%;
}

.animation-element:nth-of-type(3n-0) {
    width: 31.5%;
    margin: 0% 0% 2.75% 1.375%;
    clear: right;
}
/*bounce up animation for the subject*/

.bounce-up .subject {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view .subject {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.subject {
    float: left;
    width: 100%;
    margin: 0% 1.33% 2.66% 1.33%;
    background: #F5F5F5;
    padding: 15px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px #EAEAEA;
}

.subject:hover,
.subject:active {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.subject .header {
    margin: 8px 0px;
}

.subject .header .date,
.subject .header .category {
    margin: 0px;
    clear: none;
    width: 50%;
}

.subject .header .date i,
.subject .header .category i {
    margin-right: 5px;
    color: #333;
    -moz-transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}

.subject .header .date {
    float: left;
    text-align: left;
}

.subject .header .category {
    float: right;
    text-align: right;
}
/*subject icon at top*/

.subject .icon {
    position: absolute;
    top: -20px;
    left: 50%;
    left: calc(50% - 20px);
}

.subject .icon i {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 150%;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
}
/*Category color / icon color*/

.subject .category-color {
    height: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.subject.design .category-color,
.subject.design .icon i {
    background: #c0392b;
}

.subject.development .category-color,
.subject.development .icon i {
    background: #16a085;
}

.subject.photography .category-color,
.subject.photography .icon i {
    background: #2980b9;
}
/*hovering over subject*/

.subject.development:hover .header i {
    color: #16a085;
}

.subject.design:hover .header i {
    color: #c0392b;
}

.subject.photography:hover .header i {
    color: #2980b9;
}

.subject .title {
    margin: 12px 0px;
    border-bottom: dashed 1px #ccc;
    padding-bottom: 10px;
}

.subject .content {
    margin-bottom: 8px;
}

.subject .enrole {
    position: relative;
    color: #333;
    padding: 5px 12px;
    cursor: pointer;
    float: right;
    display: inline-block;
    border: solid 1px #ccc;
    -moz-transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}

.subject .enrole:hover,
.subject .enrole:active {
    background: #222;
    color: #fff;
}
/*media queries for small devices*/

@media screen and (max-width: 678px) {
    .main-container {
        margin: 20px 15px;
    }
    .animation-element,
    .animation-element:nth-of-type(3n-1),
    .animation-element:nth-of-type(3n-2),
    .animation-element:nth-of-type(3n-0) {
        width: 100%;
        margin: 0px 0px 30px 0px;
    }
    .subject .header .date,
    .subject .header .category {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
}
